<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot da Empresa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Chatbot da Empresa</h1>
        <div class="chat-box" id="chat-box">
            <div class="bot-message"><pre>Bem-vindo ao Chatbot da Empresa! Como posso ajudar você hoje?</pre></div>
        </div>
        <input type="text" id="user-input" placeholder="Digite sua mensagem aqui...">
        <button onclick="sendMessage()">Enviar</button>
        <br>
        <button onclick="location.href='/add'">Adicionar Perguntas e Respostas</button>
    </div>

    <script>
        function sendMessage() {
            var userInput = document.getElementById("user-input").value;
            var chatBox = document.getElementById("chat-box");

            var userMessage = document.createElement("div");
            userMessage.className = "user-message";
            userMessage.textContent = userInput;
            chatBox.appendChild(userMessage);

            fetch(`/get?msg=${userInput}`)
                .then(response => response.text())
                .then(data => {
                    var botMessage = document.createElement("div");
                    botMessage.className = "bot-message";
                    botMessage.innerHTML = data;  // Usar innerHTML para renderizar o conteúdo HTML
                    chatBox.appendChild(botMessage);
                    chatBox.scrollTop = chatBox.scrollHeight;
                });

            document.getElementById("user-input").value = "";
        }
    </script>
</body>
</html>
